<div class="card">
    <h2>
        <%= message.title %>
    </h2>
    <p>
        <%= message.description %>
    </p>
    <div class="info">
        <p>
            <%= message.userName %>
        </p>
        <p>
            <%= message.date %>
        </p>
    </div>
</div>